{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="Texte">
    <h1>S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.roles) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="button buttonvert centrebut">Register</button>
    {{ form_end(registrationForm) }}
<div>
{% endblock %}
